/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    color: #111;
    background-color: #ccc;
    font-family:Arial;
}

/* ----------------------------------- */

h1 {
    font-size: 50px;
    font-family: "Courier New", sans-serif;
        background-color: #27D1CB;
}

.pageBox {
    font-weight: bold;
    color: #333;
    padding: 6px;
    font-family: Helvetica;
    font-size: 20px;
}

.template {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.postLoginDisplay {
    float: right;
}


table {
     margin: auto;
     width: 100%;
     text-align: center;
     font-size: .9em;
}

th {
     font-weight: bold;
}

th, td {
     padding: 7px 5px;
     border-bottom: 1px solid #ddd;
}

tr {
     background-color: #DCDCDC;
}

tr:nth-child(even) {
     background-color: #F0F0F0;
}

.postLoginDisplay{
     font-style: oblique;
}

.userStyle{
    font-weight:bold;
}

a.logoutSytle:link, a.logoutSytle:visited {
    color: grey;
    text-decoration:none;
}
a.logoutSytle:hover, a.logoutSytle:active {
    text-decoration: underline;
}

.button{
     background-color: #27D1CB;
     border: 1px solid #888;
     color: white;
     padding: 4px 10px;
     text-decoration: none;
     margin: 4px 2px;
     cursor: pointer;
     font-size: .9em;
}

.red{
    color: red;
}

.green{
    color:green;
}

.footer{
  font-size: 10px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
}


/* ----  Media queries  ----- */

@media only screen and (max-width: 510px) {

    .container {
        margin: auto;
        width: 100%;
        text-align: center;
    }

    .template {
    margin: auto;
      width: 100%;
      text-align: center;
      }

    .postLoginDisplay {
        float: left;
    }

    h1 {
        font-size: 30px;
        font-family: "Courier New", sans-serif;
        padding: 4px 0;
    }


    ul li {
       float: none;
       border-bottom: 1px solid #555;
       }

    li a {
           padding: 5px 16px;
    }

    /* ------ form fields and elements --------- */

    label {
      display: block;
      margin-top: 10px;
      text-align: center;
    }

    select {
      width: 80%;
      padding: 8px 8px;
      border: 1px solid #ddd;
      /* border-radius: 4px; */
      background-color: #eee;
      font-size: .9em;
      text-align: center;
    }

    select:focus {
      background-color: #ddd;
    }

    select.inline {
      width: 93%;
    }

    input[type=button], input[type=submit], input[type=reset] {
      background-color: #27D1CB;
      border: 1px solid #888;
      color: white;
      padding: 8px 22px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
      /* border-radius: 4px; */
      font-size: .9em;
    }

    input[type=text], input[type=date] {
      background-color: #eee;
      border: 1px solid #27D1CB;
      color: #000;
      padding: 10px 22px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
      /* border-radius: 4px; */
      width: 80%;
      font-size: .9em;
    }

    input[type=text]:focus {
      background-color: #dddddd;
    }

    input[type=submit]:hover {
      box-shadow: 5px 5px 12px grey;
    }

    .limitDescription {
      width: 30%;
    }

    .LimitTitle {
          width: 20%;
        }

    .footer{
       text-align: center;
    }

}