<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Barras Online</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li>All Ads</li>
                <li>By Category</li>
                <li>My Ads</li>
                <li>Favourites</li>
                <li>Search</li>
                <li>Add</li>
            </ul>
        </nav>
    #parse($template)
    </div>
</body>
</html>