<form action="/login" method="post">
    <label for="username">Your Username:</label>
    <input id="username" name="username" type="text" required/>
    <button type="submit">Login</button>

</form>
<p $status>$message</p>

<form action="/login/addUser" method="post">
    <label for="newUsername">Add Username</label>
    <input id="newUsername" name="newUsername" type="text" required/>
    <button type="submit">Register</button>
</form>

<p $status1>$message1</p>